/* navigation bar */

nav .tabs{
  margin-right: 20px;
}

.active{
  border-bottom: 2px solid green;
  pointer-events: none;                /* to be removed in future */
}

nav .tabs:hover{
  background-color: green;
  border-radius: 3px;
}

.dropdown-menu{
  border: 2px solid green;
  background-color: rgba(0, 0, 0, 0);
}

a.dropdown-item{
  color: white;
}

a.dropdown-item:hover{
  color: green;
}
/* ------------------------------------------------------------------------- */
/* home container */

.intro-div{
  width: 100%;
  height: 550px;
  background-image: url("images/police-officers-bg.jpg");
  background-size: 100% 550px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sub-intro-div{
  position: absolute;
  filter: blur(0);
  top: 18%;
  color: white;
  padding: 10px 40px;
  width: 100%;
}

/* intro text */
h1.intro-text{
  font-size: 70px;
  font-family: Roboto, sans-serif;
}

.intro-text{
  font-size: 130%;
}

/* ------------------------------------------------------------------------- */
/* report section */

.report-div{
  width: 100%;
  height: 400px;
  background-color: #f76c6c;
}

img.left-img{
  float: left;
  width: 40%;
  height: 100%;
  display: inline;
}

.report-section{
  padding: 7% 0% 0% 45%;
  color: white;
}

div section{
  position: relative;
}

h2{
  font-size: 60px;
}

.body-section p{
  font-size: 130%;
}

.body-section button{
  box-shadow: 4px 4px black;
}

.report-section button{
  margin: 2% 0% 0% 20%;
}

/* ------------------------------------------------------------------------- */
/* lost and found section */

.lost-div{
  width: 100%;
  height: 400px;
  background-color: #39424e;
}

img.right-img{
  float: right;
  width: 40%;
  height: 100%;
  display: inline;
}

.lost-section{
  padding: 7% 2% 2% 5%;
  color: white;
}

.lost-section button{
  margin: 2% 0% 0% 10%;
}

/* ------------------------------------------------------------------------- */
/* Statistics section */

.stats-div{
  width: 100%;
  height: 400px;
  background-color: #f76c6c;
}

.stats-section{
  padding: 7% 0% 0% 45%;
  color: white;
}

.stats-section button{
  margin: 2% 0% 0% 20%;
}

/* ------------------------------------------------------------------------- */
/* Animal Cruelty section */

.animal-div{
  width: 100%;
  height: 400px;
  background-color: #39424e;
}

.animal-section{
  padding: 7% 2% 2% 5%;
  color: white;
}

.animal-section button{
  margin: 2% 0% 0% 10%;
}

/* ------------------------------------------------------------------------- */
/* Police Station section */

.police-div{
  width: 100%;
  height: 400px;
  background-color: #f76c6c;
}

.police-section{
  padding: 7% 0% 0% 45%;
  color: white;
}

.pincode-input{
  margin: auto 10px;
}

/* ------------------------------------------------------------------------- */
/* footer section */

.quote{
  text-align: center;
  padding: 10px 0px 12px 0px;
  margin-bottom: 0;
  color: white;
}

.footer-div{
  width: 100%;
  color: white;
  padding: 5% 5%;
  margin: 0;
  box-shadow: 0px -2px #f76c6c;
}

.footer-icon{
  width: 20px;
  height: 20px;
  margin: 4% 15px 4% 0%;
  cursor: pointer;
  filter: invert(100%);
}

.footer-text{
  font-size: 20px;
  color: #aaa;
}

.footer-list{
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}

.list{
  margin-bottom: 5px;
}

.footer-input{
  margin: 10px 5px 20px auto;
}

.footer-button{
  box-shadow: 4px 4px black;
}
